{#
AmazonPay for EC-CUBE4
Copyright(c) 2018 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}{{ 'amazon_pay.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'amazon_pay.admin.config.sub_title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block javascript %}
<script>
    $(function(){
        toggleAmazonAccountMode();
        toggleEnv();
        toggleButtonCode("cart");
        toggleButtonCode("products");
        toggleButtonCode("mypage_change");
        toggleButtonCode("mypage_login");
    });

    $("#config_env").click(function(){
        toggleEnv();
    });

    $("#config_amazon_account_mode").click(function(){
        toggleAmazonAccountMode();
    });

    $("#config_products_button_place").click(function(){
        toggleButtonCode("products");
    });

    $("#config_cart_button_place").click(function(){
        toggleButtonCode("cart");
    });

    $("#config_mypage_change_button_place").click(function(){
        toggleButtonCode("mypage_change");
    });

    $("#config_mypage_login_button_place").click(function(){
        toggleButtonCode("mypage_login");
    });

    function toggleButtonCode(page) {
        if ($("#config_" + page + "_button_place_0").prop('checked')) {
            $("#button_code_" + page).css("display", "none");
        } else {
            $("#button_code_" + page).css("display", "block");
        }
    }

    function toggleEnv() {
        if ($("#config_env_0").prop('checked')) {
            $(".env--prod").css("display", "none");
            $(".env--sandbox").css("display", "block");
        } else {
            $(".env--prod").css("display", "block");
            $(".env--sandbox").css("display", "none");
        }
    }

    function toggleAmazonAccountMode() {
        if ($("#config_amazon_account_mode_0").prop('checked')) {
            $(".mode--owned").css("display", "none");
            $(".mode--shared").css("display", "block");
            $(".env--prod").css("display", "none");
        } else {
            $(".mode--owned").css("display", "block");
            $(".mode--shared").css("display", "none");
            if ($("#config_env_1").prop('checked')) {
                $(".env--prod").css("display", "block");
            }
        }
    }
</script>
{% endblock %}
{% block main %}

    <form role="form" method="post">

        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>■テスト環境利用について</span></div>
                        <div class="card-body">
                            いますぐにテスト環境での利用が可能です。利用方法は「<a href="https://www.iplogic.co.jp/amazondoc/installtest4.pdf" target="_blank">テストインストールマニュアル</a>」をご確認ください。
                        </div>
                        <div class="card-header"><span>■本番環境利用について</span></div>
                        <div class="card-body">
                            アイピーロジック株式会社、アマゾンジャパン合同会社様、両社との契約が必要となります。
                            詳細情報をご案内いたしますので、以下のフォームより「本番環境申し込み」をお願いいたします。
                            <a href="https://www.iplogic.co.jp/lp/amazonpayments.html#aform" target="_blank">https://www.iplogic.co.jp/lp/amazonpayments.html</a>
                        </div>
                        <div class="card-header"><span>■各種マニュアル</span></div>
                        <div class="card-body">
                            <ul>
                                <li><a href="https://www.iplogic.co.jp/amazondoc/introduce4.pdf" target="_blank">Amazon Payプラグインのご紹介</a></li>
                                <li><a href="https://www.iplogic.co.jp/amazondoc/install4.pdf" target="_blank">本番環境切り替えマニュアル</a></li>
                                <li><a href="https://www.iplogic.co.jp/amazondoc/operation4.pdf" target="_blank">オペレーションマニュアル</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <!-- /.box-header -->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.amazon_account_mode'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.amazon_account_mode, {'label_attr': {'class': 'radio-inline'}}) }}
                                    {{ form_errors(form.amazon_account_mode) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.env'|trans }}</label>
                                <div class="col mb-2">
                                    <div class="mode--owned">
                                        {{ form_widget(form.env, {'label_attr': {'class': 'radio-inline'}}) }}
                                        {{ form_errors(form.env) }}
                                    </div>
                                    <div class="mode--shared">
                                        {{ 'amazon_pay.admin.config.env.sandbox'|trans }}
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger small mode--shared">※共用アカウントではテスト決済のみお試しいただくことが可能です。</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.seller_id'|trans }}</label>
                                <div class="col mb-2">
                                    <div class="mode--owned">
                                        {{ form_widget(form.seller_id) }}
                                        {{ form_errors(form.seller_id) }}
                                    </div>
                                    <div class="mode--shared">
                                        {{ testAccount.seller_id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.mws_access_key_id'|trans }}</label>
                                <div class="col mb-2">
                                    <div class="mode--owned">
                                        {{ form_widget(form.mws_access_key_id) }}
                                        {{ form_errors(form.mws_access_key_id) }}
                                    </div>
                                    <div class="mode--shared">
                                        {{ testAccount.mws_access_key_id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.mws_secret_access_key'|trans }}</label>
                                <div class="col mb-2">
                                    <div class="mode--owned">
                                        {{ form_widget(form.mws_secret_access_key) }}
                                        {{ form_errors(form.mws_secret_access_key) }}
                                    </div>
                                    <div class="mode--shared">
                                        {{ testAccount.mws_secret_access_key }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body mode--owned">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.client_id'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.client_id) }}
                                    {{ form_errors(form.client_id) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body mode--shared">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.test_client_id'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.test_client_id) }}
                                    {{ form_errors(form.test_client_id) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body env--prod">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.prod_key'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.prod_key) }}
                                    {{ form_errors(form.prod_key) }}
                                </div>
                            </div>
                            <span class="text-danger small">※本番環境への切り替えにはアイピーロジックとの契約時に発行されるキーが必要です。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.sale'|trans }} <span class="text-danger small">必須</span></label>

                                <div class="col mb-2">
                                    {{ form_widget(form.sale) }}
                                    {{ form_errors(form.sale) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.use_confirm_page'|trans }} <span class="text-danger small">必須</span></label>

                                <div class="col mb-2">
                                    {{ form_widget(form.use_confirm_page) }}
                                    {{ form_errors(form.use_confirm_page) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.auto_login'|trans }} <span class="text-danger small">必須</span></label>

                                <div class="col mb-2">
                                    {{ form_widget(form.auto_login) }}
                                    {{ form_errors(form.auto_login) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.login_required'|trans }} <span class="text-danger small">必須</span></label>

                                <div class="col mb-2">
                                    {{ form_widget(form.login_required) }}
                                    {{ form_errors(form.login_required) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.order_correct'|trans }} <span class="text-danger small">必須</span></label>

                                <div class="col mb-2">
                                    {{ form_widget(form.order_correct) }}
                                    {{ form_errors(form.order_correct) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.mail_notices'|trans }}</label>

                                <div class="col mb-2">
                                    {{ form_widget(form.mail_notices) }}
                                    {{ form_errors(form.mail_notices) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.use_cart_button'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.use_cart_button) }}
                                    {{ form_errors(form.use_cart_button) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.cart_button_color'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.cart_button_color) }}
                                    {{ form_errors(form.cart_button_color) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.cart_button_size'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.cart_button_size) }}
                                    {{ form_errors(form.cart_button_size) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.cart_button_place'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.cart_button_place) }}
                                    {{ form_errors(form.cart_button_place) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="button_code_cart"{% if form.cart_button_place.vars.value == 'auto' %}style="display:none;"{% endif %}>
                                <p>以下のコードをカート画面のテンプレートファイルに追記して下さい。</p>
                                <p>※ コンテンツ管理 > ページ管理 > 現在のカゴの中</p>
                                <input type="text" class="lockon_card_row form-control" readonly="readonly" value='{{"<p id=\"AmazonPayButton{{ cartKey }}\"></p>"}}'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.use_products_button'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.use_products_button) }}
                                    {{ form_errors(form.use_products_button) }}
                                </div>
                            </div>
                        </div>
                        <div id="button_select_products">
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.products_button_color'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.products_button_color) }}
                                        {{ form_errors(form.products_button_color) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.products_button_size'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.products_button_size) }}
                                        {{ form_errors(form.products_button_size) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.products_button_place'|trans }} <span class="text-danger small">必須</span></label>

                                    <div class="col mb-2">
                                        {{ form_widget(form.products_button_place) }}
                                        {{ form_errors(form.products_button_place) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="button_code_products"{% if form.products_button_place.vars.value == 'auto' %}style="display:none;"{% endif %}>
                                    <p>以下のコードを商品詳細画面のテンプレートファイルに追記して下さい。</p>
                                    <p>※ コンテンツ管理 > ページ管理 > 商品詳細ページ</p>
                                    <input type="text" class="lockon_card_row form-control" readonly="readonly" value='{{"<p id=\"AmazonPayButton\"></p>"}}'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.use_mypage_change_button'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.use_mypage_change_button) }}
                                    {{ form_errors(form.use_mypage_change_button) }}
                                </div>
                            </div>
                        </div>
                        <div id="button_select_products">
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_change_button_color'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_change_button_color) }}
                                        {{ form_errors(form.mypage_change_button_color) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_change_button_size'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_change_button_size) }}
                                        {{ form_errors(form.mypage_change_button_size) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_change_button_place'|trans }} <span class="text-danger small">必須</span></label>

                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_change_button_place) }}
                                        {{ form_errors(form.mypage_change_button_place) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="button_code_mypage_change"{% if form.mypage_change_button_place.vars.value == 'auto' %}style="display:none;"{% endif %}>
                                    <p>以下のコードを商品詳細画面のテンプレートファイルに追記して下さい。</p>
                                    <p>※ コンテンツ管理 > ページ管理 > MYページ/会員登録内容変更(入力ページ)</p>
                                    <input type="text" class="lockon_card_row form-control" readonly="readonly" value='{{"<p id=\"AmazonLoginButton\"></p>"}}'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.use_mypage_login_button'|trans }}</label>
                                <div class="col mb-2">
                                    {{ form_widget(form.use_mypage_login_button) }}
                                    {{ form_errors(form.use_mypage_login_button) }}
                                </div>
                            </div>
                        </div>
                        <div id="button_select_products">
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_login_button_color'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_login_button_color) }}
                                        {{ form_errors(form.mypage_login_button_color) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_login_button_size'|trans }} <span class="text-danger small">必須</span></label>
                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_login_button_size) }}
                                        {{ form_errors(form.mypage_login_button_size) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-3">{{ 'amazon_pay.admin.config.mypage_login_button_place'|trans }} <span class="text-danger small">必須</span></label>

                                    <div class="col mb-2">
                                        {{ form_widget(form.mypage_login_button_place) }}
                                        {{ form_errors(form.mypage_login_button_place) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="button_code_mypage_login"{% if form.mypage_login_button_place.vars.value == 'auto' %}style="display:none;"{% endif %}>
                                    <p>以下のコードを商品詳細画面のテンプレートファイルに追記して下さい。</p>
                                    <p>※ コンテンツ管理 > ページ管理 > MYページ/ログイン</p>
                                    <input type="text" class="lockon_card_row form-control" readonly="readonly" value='{{"<p id=\"AmazonLoginButton\"></p>"}}'/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'amazon_pay.admin.config.header'|trans }}</span></div>

                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.deliv_widget_height'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.deliv_widget_height) }}
                                    {{ form_errors(form.deliv_widget_height) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.deliv_widget_width'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-s">
                                    {{ form_widget(form.deliv_widget_width) }}
                                    {{ form_errors(form.deliv_widget_width) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.payment_widget_height'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.payment_widget_height) }}
                                    {{ form_errors(form.payment_widget_height) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-3">{{ 'amazon_pay.admin.config.payment_widget_width'|trans }} <span class="text-danger small">必須</span></label>
                                <div class="col mb-2">
                                    {{ form_widget(form.payment_widget_width) }}
                                    {{ form_errors(form.payment_widget_width) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_store_plugin') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'amazon_pay.admin.config.back'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'amazon_pay.admin.config.save'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
